@mixin buttonStyles {
  &hover {opacity: 0.5;}
  box-sizing: border-box;
  border: none;
  color: white;
}

.todoListDelete {
  background-color: red;
  font-size: 12px;
  margin: 0 0 0 5px;
  @include buttonStyles;
  
}
.deleteTask {
  position: absolute;
  background-color: violet;
  margin: 0 0 0 15px;
  @include buttonStyles;
}
